.Links{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 80%;
	max-width: 300px;
	padding: 20px 10px;
	box-sizing: border-box;
	background: linear-gradient(to bottom right, #a23bdf, #3c11b1);
	z-index: 90;
	transform: translateX(-300px);
	transition: transform .6s linear;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

.Links.open{
	transform: translateX(0px);
}



.Links ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	
	
}

.Links ul li{
	margin-bottom: 15px;
}

.Links ul li a{
	transition: all .3s linear;
	font-size: 30px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	padding: 0 20px 10px 20px;
	opacity: .7;
	font-weight: bold;
	color: #000;
}

.Links ul li a:hover{
	opacity: 1;
}	

.Links button{
	position: absolute;
	bottom: 120px;
	left: 15%;
	border: 0;
	border-radius: 8px;
	background: linear-gradient(to right, #2f3fc9 0%, #071561 100%);
	color:#fff;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}